* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

/* top page */
.top-page {
  width: 100%;
  height: 100%;
}

/* header */

.header-section {
  align-items: center;
  padding-top: 20px;
  font-size: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a:not(:last-child) {
  padding-right: 35px;
}

.header-nav a:hover {
  color: aqua;
  text-decoration: underline;
}

.header-logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.header-content .content-2 {
  text-decoration: underline;
  cursor: pointer;
}

.header-content .content-2:hover {
  color: aqua;
}

/* hero */

.hero-section {
  padding: 20px 0;
  margin-bottom: 70px;
}

.hero-description {
  padding-top: 45px;
}

.hero-description p {
  font-size: 20px;
  font-weight: 300;
}

.hero-description .description {
  margin-top: 20px;
  line-height: 45px;
}

.hero-description h2 {
  margin-top: 20px;
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
}

.hero-description__button {
  margin-top: 20px;
  font-size: 35px;
}
.hero-description__button:hover {
  text-decoration: underline;
  color: aqua;
}

.hero-image {
  position: relative;
}

.hero-image .img-food-1 {
  width: 370px;
  height: 370px;
}

.hero-image .img-food-2 {
  width: 100px;
  height: 100px;
  top: 20%;
  right: -15px;
  transform: translateY(-45%);
  position: absolute;
  object-fit: cover;
}

.hero-image .img-food-3 {
  width: 100px;
  height: 100px;
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
  position: absolute;
  object-fit: cover;
}

.hero-image .img-food-4 {
  width: 100px;
  height: 100px;
  top: 80%;
  right: -15px;
  transform: translateY(-45%);
  position: absolute;
  object-fit: cover;
}

.hero-content {
  padding: 60px 0;
  margin-bottom: 120px;
  background: url(../img/bg-stats.png);
}

.hero-content .row > * {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */
/* Popular Food */
.popular-food {
  padding: 20px 0;
  margin-bottom: 70px;
}

.popular-food__header {
  font-size: 70px;
  font-style: normal;
  line-height: 74px;
}

.popular-food__description {
  font-size: 25px;
  font-style: normal;
  line-height: 26px;
}

.food-description .food-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.food-description .description {
  margin-top: 10px;
  line-height: 20px;
}

.food-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-order .button-order:hover {
  text-decoration: underline;
  color: aqua;
}

/* Opening times */
.opening-time {
  padding: 100px 0;
  margin-bottom: 30px;
}

.opening-time .row > * {
  height: 360px;
}

.opening-time__contact {
  border: 1px solid #fbf8fc;
  border-right: unset;
  background: url(../img/bg-contact.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.opening-time__contact p {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  cursor: pointer;
}

.opening-time__contact p span {
  padding-top: 20px;
}

.opening-time__times {
  font-size: 24px;
  line-height: 34px;
  padding: 70px 0;
  text-align: center;
  background: #fb8f2c;
}

.opening-time__times div {
  display: flex;
  justify-content: space-around;
}

/* Menu */
.menu-section {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.menu__title {
  display: flex;
  flex-direction: column;
}
.menu__title h2 {
  text-align: center;
}

.menu__title h1 {
  text-align: center;
  font-size: 30px;
}

.menu__title-description {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.menu__food-title {
  display: flex;
  gap: 60px;
  font-size: 30px;
}

.food-list {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.food-list .food {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.food-list:not(:first-child) {
  margin-top: 35px;
}

/* Restaurant info */
.restaurant-section {
  padding: 60px 0;
}

.restaurant-header {
  font-size: 64px;

  font-weight: 500;
  line-height: 74px;
  text-transform: capitalize;
}

.restaurant-description {
  font-size: 16px;
  line-height: 15px;
}

.restaurant-section .row:first-child {
  margin-bottom: 50px;
}

.restaurant-section .row:last-child .col-4:first-child,
.restaurant-section .row:last-child .col-4:last-child {
  flex-direction: column;
  gap: 30px;
}

/* reservation */
.reservation-section {
  padding: 60px;
}

.reservation__booking {
  padding: 50px 50px;
  background-color: #fb8f2c;
  display: flex;
  flex-direction: column;
}

.reservation__booking p {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
}

.reservation__booking .booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation__booking .date,
.reservation__booking .guest {
  display: flex;
  flex-direction: column;
}

.reservation__booking button {
  font-size: 15px;
  width: 150px;
  height: 30px;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
}

/* Offer */
.offer {
  padding: 60px 0;
}

.offer-header {
  color: #fff;
  text-align: center;
  font-size: 64px;
}

.offer-list .list img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.offer-list .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 30%;
}

.offer-list .list p {
  margin-top: 20px;
}

/* banner */
.banner {
  background-color: #fb8f2c;
  font-size: 38px;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 100px;
}

.banner .banner-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

/* chef */
.chef-section {
  margin-bottom: 60px;
}

.chef-header {
  text-align: center;
  font-size: 64px;
}

.chef-description {
  text-align: center;
  font-size: 16px;
}

.chef-member {
  margin-top: 60px;
}

.chef-member__image {
  height: 440px;
}

.chef-member__name,
.chef-member__role {
  text-align: center;
  font-size: 32px;
}

/* blog */
.blog-section {
  padding: 60px 0;
}

.blog__title {
  text-align: center;

  font-size: 64px;
}

.blog-img__description {
  border: 1px solid #fbf8fc;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 10px;
}

.blog-img__description div {
  display: flex;
  justify-content: space-between;
}

.blog-img__description a:hover {
  text-decoration: underline;
  color: aqua;
}

/* form */
.form-section {
  padding: 60px 0;
  margin: 120px 0;
}

.form-description strong {
  font-size: 40px;
}

.form-description p {
  font-size: 16px;
}

.form-email {
  background-color: beige;
  color: #000;
  font-size: 24px;
  display: flex;
  align-items: center;
}

/* footer */
.footer {
  margin-top: 100px;
  padding: 50px 0 41px;
  background: var(--dark);
}

.footer .logo {
  width: 198.98px;
  height: 48px;
  object-fit: cover;
}

.footer .desc {
  margin-top: 76px;
  width: 221px;
  color: var(--white-80);
  font-weight: 400;
  line-height: 1.63; /* 162.5% */
}

.footer .app-download-wrap {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

.footer .app-store {
  width: 121.6px;
  height: 36px;
  object-fit: cover;
}

.footer .gg-store {
  width: 122.057px;
  height: 36px;
  object-fit: cover;
}

.footer .title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.footer .list {
  margin-top: 24px;
}

.footer .list a,
.footer .website,
.footer .copy-right {
  display: block;
  margin-top: 16px;
  color: var(--white-80);
  font-weight: 400;
  line-height: 1.63;
}

.footer .col-3 .list a,
.footer .col-3 .copy-right {
  max-width: 204px;
}

.social-link {
  position: relative;
}

.social-link::before {
  position: absolute;
}
